body {
    display: flex;
    justify-content: center;
    background-color: rgb(252, 247, 247);

}

.containerSemaforo {
    width: 150px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
    justify-content: center;
    gap: 30px;
    align-items: center;

}


.colorRojo,
.colorAmarillo,
.colorVerde {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;


}

.colorRojo.activo {
    background-color: red;
}


.colorAmarillo.activo {
    background-color: rgb(217, 255, 0);
}



.colorVerde.activo {
    background-color: rgb(0, 125, 6);
}